/target/
.idea/.name
.idea/artifacts/architect_war.xml
.idea/artifacts/architect_war_exploded.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/Maven__javax_javaee_web_api_7_0.xml
.idea/libraries/Maven__org_liquibase_liquibase_core_2_0_5.xml
.idea/libraries/Maven__org_primefaces_primefaces_4_0.xml
.idea/libraries/Maven__org_primefaces_themes_bootstrap_1_0_10.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
architect.iml
nb-configuration.xml
